ion-content {
    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        align-items: center;

        .name {
            font-size: 25px;
            // margin-top: 20%;
            margin-bottom: 0%;
        }

        .temp {
            font-size: 100px;
            margin-top: 0%;
            margin-bottom: 0;
            height: 100px;
            display: flex;
            font-family: 'OpenSans-condensed-regular';
            justify-content: center;
            align-items: center;
        }

        .language {
            font-size: 25px;
            margin-top: 0%;
        }

        ion-icon {
            width: 30vh;
            height: 30vh;
        }
    }

}